/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1e1e;
  font-family: Arial, sans-serif;
  background-image: url(1herowall.png);
  background-size: contain;
  background-position: center center;
  background-repeat: repeat-x;
  background-attachment: fixed;
  overflow-y: scroll;
}

.containerflex {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  margin: auto;
  width: 80%;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: #424141;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -2px 3px 5px rgba(83, 79, 79, 0.3);
  width: 85%;
  margin: auto;
  max-width: 60%;
  flex: auto;
}

h2 {
  text-align: center;
  color: white;
}

p {
  color: white;
}

div {
  margin-bottom: 10px;
}  

label {
  color: #fff;
  margin-right: 10px;
}

form {
  align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
  width: 100%;
  border: 1px solid #242323;
  border-radius: 4px;
  padding-block: unset;
  margin-bottom: 12px;
  block-size: auto;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #302e2e;
  color: #413e3e;
  margin: 10px;
  margin-left: 0px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
}

button:hover {
  background-color: #a39f9f;
  color: #000;
  border: 2px solid #333;
}

/* Header styles */
header {
  background-color: #111111;
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
  position: static;
  top: 0;
  width: 100%;
  padding: 01px;
}

nav ul {
  list-style-type: none;
  float: right;
  padding: 10px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  color: #000;
  padding: 3px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Footer styles */
footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%
}